<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Itelios_Store>
            <version>0.1.0</version>
        </Itelios_Store>
    </modules>
    <frontend>
        <routers>
            <iteliosstore>
                <use>standard</use>
                <args>
                    <module>Itelios_Store</module>
                    <frontName>magasins</frontName>
                </args>
            </iteliosstore>
        </routers>
        <layout>
            <updates>
                <iteliosstore>
                    <file>itelios_store.xml</file>
                </iteliosstore>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <itelios_store>
                <class>Itelios_Store_Block</class>
            </itelios_store>
            <catalog>
                <rewrite>
                    <product_view>Itelios_Store_Block_Catalog_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <itelios_store>
                <class>Itelios_Store_Model</class>
                <resourceModel>itelios_store_resource</resourceModel>
            </itelios_store>
            <itelios_store_resource>
                <class>Itelios_Store_Model_Resource</class>
                <entities>
                    <store>
                        <table>itelios_store</table>
                    </store>
                </entities>
            </itelios_store_resource>
        </models>
        <helpers>
            <itelios_store>
                    <class>Itelios_Store_Helper</class>
            </itelios_store>
        </helpers>
        <events>
            <cms_page_prepare_save>
                <observers>
                    <Itelios_Store_Model_Observer>
                        <type>singleton</type>
                        <class>itelios_store/observer</class>
                        <method>saveCmsPageObserve</method>
                    </Itelios_Store_Model_Observer>
                </observers>
            </cms_page_prepare_save>
        </events>
    </global>
    <admin>
        <routers>
            <iteliosstore>
                <use>admin</use>
                <args>
                    <module>Itelios_Store</module>
                    <frontName>magasins</frontName>
                </args>
            </iteliosstore>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <itelios_store>
                    <file>itelios_store.xml</file>
                </itelios_store>
            </updates>
        </layout>
        <menu>
            <itelios_store translate="title" module="adminhtml">
                <title>Itelios</title>
                <sort_order>100</sort_order>
                <children>
                    <itelios_storegrid>
                        <title>Store</title>
                        <action>iteliosstore/adminhtml_index</action>
                    </itelios_storegrid>
                </children>
            </itelios_store>
        </menu>
    </adminhtml>
    <translate>
        <modules>
            <Itelios_Store>
                <files>
                    <default>Itelios_Store.csv</default>
                </files>
            </Itelios_Store>
        </modules>
    </translate>
</config>